<hgroup>
    <h2>Add Company</h2>
</hgroup>
<form action="" method="POST">
  <div class="group">
    <input type="text" name="name" placeholder="Company Name"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input type="text" name="google_map"><span class="highlight"></span><span class="bar"></span>
    <label>Google Map (WITH HTTPS)</label>
  </div>
  <div class="group">
    <input type="text" name="website" placeholder="http://website.com"><span class="highlight"></span><span class="bar"></span>
    <label>Website</label>
  </div>
  <div class="group">
    <input type="text" name="phone" placeholder="304-555-5555"><span class="highlight"></span><span class="bar"></span>
    <label>Phone</label>
  </div>
  <div class="group">
    <input type="text" name="address" placeholder="555 5th Ave."><span class="highlight"></span><span class="bar"></span>
    <label>Address</label>
  </div>
  <button type="submit" class="button buttonBlue">Add company
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <input type="hidden" name="action" value="addcompany">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/assets/js/admin.js"></script>
