<hgroup>
    <h2>Add Deal</h2>
</hgroup>
<form action="" method="POST">
  <div class="group">
    <select name="deal_id">
        {% for deal in deals.getDeals() %}
        <option value="{{ deal.id }}">{{ deal.name }} | {{ deal.headline }}</option>
        {% endfor %}
    </select>
    <label>Deal</label>
  </div>
  <button type="submit" class="button buttonBlue">Delete deal
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <input type="hidden" name="action" value="delete">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/assets/js/admin.js"></script>
