<hgroup>
    <h2>Send Email</h2>
</hgroup>
<form action="" method="POST">
    <div class="group">
      <input type="text" name="email"><span class="highlight"></span><span class="bar"></span>
      <label>Email address</label>
    </div>
  <div class="group">
    <input type="text" name="subject"><span class="highlight"></span><span class="bar"></span>
    <label>Subject</label>
  </div>
  <div class="group">
    <textarea name="body" placeholder="body"></textarea>
  </div>
  <button type="submit" class="button buttonBlue">Send email
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <input type="hidden" name="action" value="send">
</form>
