<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
    </head>
    <link rel="stylesheet" href="/assets/css/admin.css" type="text/css">
<body>
    <hgroup>
        <h1>Admin Hungry Huntington</h1>
    </hgroup>
    {% if controller.loggedIn == true %}
    <hgroup>
        <h3>Hello, {{ controller.username }}</h3>
        <form action="" method="POST">
            <input type="hidden" name="action" value="logout">
            <button type="submit">logout</button>
        </form>
    </hgroup>
        {% include 'inc/admin/adduser.twig' %}
    {% else %}
        {% include 'inc/admin/login.twig' %}
    {% endif %}
</body>
</html>
