<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
    </head>
    <link rel="stylesheet" href="/assets/css/admin.css" type="text/css">
<body>
    {% if controller.loggedIn == true %}
        <h3>Hello, {% controller.username %}</h3>
        {% include 'inc/admin/adduser.twig' %}
    {% else %}
        {% include 'inc/admin/login.twig' %}
    {% endif %}
</body>
</html>
