<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
    </head>
    <link rel="stylesheet" href="/assets/css/admin.css" type="text/css">
<body>
<hgroup>
    <h1>Admin Hungry Huntington</h1>
    <h3>Turn away, scoundrels!</h3>
</hgroup>
<form action="" method="POST">
  <div class="group">
    <input type="text" name="username"><span class="highlight"></span><span class="bar"></span>
    <label>Username</label>
  </div>
  <div class="group">
    <input type="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="submit" class="button buttonBlue">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <input type="hidden" name="action" value="login">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/assets/js/admin.js"></script>
</body>
</html>
