{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section>
    <div class="wrap">
        <h1>Bar deals</h1>
        {#
            Need to create the method for this. It will just get all of the bar
            deals for now.
        #}
{% include 'inc/footer.twig' %}
