{% set title = "Bar Deals" %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>Bar Deals</h1>
		{% include 'inc/social.twig' %}
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% for deal in deals.getBarDeals() %}
        {% include 'inc/deal-template.twig' %}
        {% endfor %}
    </div>
</section>
{% include 'inc/footer.twig' %}
