{% set title = "Bar Deals" %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>Bar Deals</h1>
		<div class="social">
			<div class="circle"><a href="https://www.facebook.com/Hungry-Huntington-1588855184738634"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
			<div class="circle"><a href="https://twitter.com/hungry_htown"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
		</div>
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% for deal in deals.getBarDeals() %}
        {% include 'inc/deal-template.twig' %}
        {% endfor %}
    </div>
</section>
{% include 'inc/footer.twig' %}
