{% if deals.getPageData('callMethod') == 'getCompanies' %}
    {% set title = "Restaurants" %}
{% elseif deals.getPageData('callMethod') == 'getCompany' %}
    {% set title = deals.getCompanyName(deals.getPageData('urlTitle')[1]) %}
{% elseif deals.getPageData('callMethod') == 'getDeal' %}
    {% set title = deals.getDealName(deals.getPageData('urlTitle')[2]) %}
{% endif %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section>
    <div class="wrap">
        {% if deals.getPageData('callMethod') == 'getCompanies' %}
        <h1>{{ title }}</h1>
            {#
            will include a get companies template. it will use the getCompanies
            method in the HungryHuntington class.
            #}
        {% elseif deals.getPageData('callMethod') == 'getCompany' %}
        <h1>{{ title }}</h1>
            {#
            will include a get company template. it will need to use one of the
            segment variables from the HungryHuntington page property to get the
            deals for the specified company
            #}
        {% elseif deals.getPageData('callMethod') == 'getDeal' %}
        <h1>{{ title }}</h1>
            {#
            will include a get deal template. it will need to use one of the
            segment variables from the HungryHuntington page property to get the
            deals for the specified deal
            #}
        {% endif %}
{% include 'inc/footer.twig' %}
