{% if deals.getPageData('callMethod') == 'getCompanies' %}
    {% set title = "Restaurants" %}
{% elseif deals.getPageData('callMethod') == 'getCompany' %}
    {% set title = deals.getCompanyName(deals.getPageData('urlTitle')[1]) %}
{% elseif deals.getPageData('callMethod') == 'getDeal' %}
    {% set title = deals.getDealName(deals.getPageData('urlTitle')[2]) %}
{% endif %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>{{ title }}</h1>
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% if deals.getPageData('callMethod') == 'getCompanies' %}
        <ul>
        {% for deal in deals.getCompanies() %}
            <li><a href="/deal/{{ deal.url_title }}/">{{ deal.name }}</a></li>
        {% endfor %}
        </ul>
        {% elseif deals.getPageData('callMethod') == 'getCompany' %}
            {#
            will include a get company template. it will need to use one of the
            segment variables from the HungryHuntington page property to get the
            deals for the specified company
            #}
        {% elseif deals.getPageData('callMethod') == 'getDeal' %}
            {#
            will include a get deal template. it will need to use one of the
            segment variables from the HungryHuntington page property to get the
            deals for the specified deal
            #}
        {% endif %}
    </div>
</section>
{% include 'inc/footer.twig' %}
