{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>Today's Deals</h1>
		{% include 'inc/social.twig' %}
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% for key,deal in deals.getTodaysDealsGrouped() %}
        {% include 'inc/group-deal-template.twig' %}
        {% endfor %}
    </div>
</section>
{% include 'inc/footer.twig' %}
