{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>Today's Deals</h1>
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% for deal in deals.getTodaysDeals() %}
        {% include 'inc/deal-template.twig' %}
        {% endfor %}
    </div>
</section>
{% include 'inc/footer.twig' %}
