{% if deals.getPageData('callMethod') == 'getRandomFood'%}
    {% set title = "Random Food Deal" %}
{% elseif deals.getPageData('callMethod') == 'getRandomBar' %}
    {% set title = "Random Bar Deal" %}
{% endif %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>{{ title|capitalize }}</h1>
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% if deals.getPageData('callMethod') == 'getRandomFood'%}
            <ul class="pageList">
                <li><a href="/random/food-deals/">Food Deals</a></li>
                <li><a href="/random/bar-deals/">Bar Deals</a></li>
            </ul>
        {% elseif deals.getPageData('callMethod') == 'getRandomBar' %}
            
        {% endif %}
    </div>
</section>
{% include 'inc/footer.twig' %}
