{% if deals.getPageData('callMethod') == 'getCompanies' %}
    {% set title = "Restaurants" %}
{% elseif deals.getPageData('callMethod') == 'getCompany' %}
    {% set title = deals.getCompanyName(deals.getPageData('urlTitle')[1]) %}
{% elseif deals.getPageData('callMethod') == 'getDeal' %}
    {% set title = deals.getDealName(deals.getPageData('urlTitle')[2]) %}
{% endif %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>{{ title }}</h1>
	</div>
</section>
<section class="top" id="restaurants">
    <div class="wrap">
        {% if deals.getPageData('callMethod') == 'getCompanies' %}
            <ul>
            {% for deal in deals.getCompanies() %}
                <li><a href="/restaurants/{{ deal.url_title }}/">{{ deal.name }}</a></li>
            {% endfor %}
            </ul>
        {% elseif deals.getPageData('callMethod') == 'getCompany' %}
            {% for deal in deals.getCompanyDeals(deals.getPageData('urlTitle')[1]) %}
            {% include 'inc/deal-template.twig' %}
            {% endfor %}
        {% elseif deals.getPageData('callMethod') == 'getDeal' %}
            {% for deal in deals.getDeal(deals.getPageData('urlTitle')[1], deals.getPageData('urlTitle')[2]) %}
            {% include 'inc/deal-template.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</section>
{% include 'inc/footer.twig' %}
