{% if deals.getPageData('callMethod') == 'getWeek'%}
    {% set title = "Weekly" %}
{% elseif deals.getPageData('callMethod') == 'getDay' %}
    {% set title = deals.getPageData('urlTitle')[2] %}
{% endif %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>{{ title }}</h1>
	</div>
</section>
<section class="top" id="restaurants">
    <div class="wrap">
        {% if deals.getPageData('callMethod') == 'getWeek'%}
            <ul>
                <li><a href="/weekly/monday/">Monday</a></li>
                <li><a href="/weekly/tuesday/">Tuesday</a></li>
                <li><a href="/weekly/wednesday/">Wednesday</a></li>
                <li><a href="/weekly/thursday/">Thursday</a></li>
                <li><a href="/weekly/friday/">Friday</a></li>
                <li><a href="/weekly/saturday/">Saturday</a></li>
                <li><a href="/weekly/sunday/">Sunday</a></li>
            </ul>
        {% elseif deals.getPageData('callMethod') == 'getDay' %}

            {#
            will include a get day template. need to create a method for this.
            it will need to use one of the segment variables from the
            HungryHuntington page property to get the deals for the specified
            day of the week. It will convert the slug to the corresponding int
            #}
        {% endif %}
    </div>
</section>
{% include 'inc/footer.twig' %}
