{% if deals.getPageData('callMethod') == 'getWeek'%}
    {% set title = "Weekly" %}
{% elseif deals.getPageData('callMethod') == 'getDay' %}
    {% set title = deals.getPageData('urlTitle')[1] %}
{% endif %}
{% include 'inc/head.twig' %}
{% include 'inc/header.twig' %}
<section class="page-title">
	<div class="wrap">
		<h1>{{ title|capitalize }}</h1>
        {% include 'inc/social.twig' %}
	</div>
</section>
<section class="top">
    <div class="wrap">
        {% if deals.getPageData('callMethod') == 'getWeek'%}
            <ul class="pageList">
                <li><a href="/weekly/monday/">Monday</a></li>
                <li><a href="/weekly/tuesday/">Tuesday</a></li>
                <li><a href="/weekly/wednesday/">Wednesday</a></li>
                <li><a href="/weekly/thursday/">Thursday</a></li>
                <li><a href="/weekly/friday/">Friday</a></li>
                <li><a href="/weekly/saturday/">Saturday</a></li>
                <li><a href="/weekly/sunday/">Sunday</a></li>
            </ul>
        {% elseif deals.getPageData('callMethod') == 'getDay' %}
            {% for deal in deals.getDealsForDow(deals.getPageData('urlTitle')[1]) %}
            {% include 'inc/deal-template.twig' %}
            {% endfor %}
        {% endif %}
    </div>
</section>
{% include 'inc/footer.twig' %}
