			<div class="beforeFooter"></div>
			<footer>
				<div class="wrap">
					<div class="logo">
						<a href=""><img alt="hungry huntington" src="https://hungryhuntington.com/assets/images/hungry-hungtington-logo.svg"></a>
					</div>
					<span>Hungry Huntington</span>
				</div>
				<div class="copyright">
					<div class="wrap">
						<span>Copyright 2016 Hungry Huntington | Built by Wappr - <a href="mailto:info@wappr.co">info@wappr.co</a></span>
					</div>
				</div>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
				<script src="/assets/js/scripts.js"></script>
			</footer>
		</div>
		<!-- version: {{ deals.version }} -->
	</body>
</html>
