
<div class="beforeFooter"></div>
<footer>
	<div class="wrap">
		<div class="wappr col3">
			<!--i class="material-icons">developer_board</i-->
		</div>
		<div class="hungriton col3">
			<div class="logo">
				<a href=""><i class="material-icons">local_offer</i>
				<span>Hungry Huntington</span></a>
			</div>
		</div>
		<div class="addOffer col3">
			<!--i class="material-icons">note_add</i-->
		</div>
	</div>
	<div class="copyright">
		<div class="wrap">
			Copyright 2016 Hungry Huntington | Built by Wappr - info@wappr.co
		</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
</footer>
</div>
<!-- version: {{ deals.version }} -->
</body>
</html>
