			<div class="beforeFooter"></div>
			<footer>
				<div class="wrap">
					<div class="logo">
						<a href=""><img alt="hungry huntington" src="https://hungryhuntington.com/assets/images/hungry-hungtington-logo-g.svg"></a>
					</div>
					<span>Hungry Huntington</span>
					<span class="disclaimer">
						Disclaimer: We are not liable if these deals are not honored by the establishment associated with the deal. We only post deals that we find publicly advertised via flyers, websites, and social media. Certain restrictions may apply to each deal that are not displayed on this website. Please contact the establishment to ensure the deal is valid. While we strive to keep all of our deals up-to-date, if you find a deal that is no longer valid, please email info@wappr.co and it will be removed within 24 hours.
					</span>
				</div>
				<div class="copyright">
					<div class="wrap">
						<span>Copyright 2016 Hungry Huntington | Built by <a href="https://wappr.co/" target="_blank">Wappr</a> - <a href="mailto:info@wappr.co">info@wappr.co</a></span>
					</div>
				</div>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
				<script src="/assets/js/scripts.js"></script>
			</footer>
		</div>
		<!-- version: {{ deals.version }} -->
	</body>
</html>
