<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{%if title %}{{title|capitalize}} | {% endif %}Hungry Huntington, WV</title>
		<meta name="author" content="Wappr">
		<meta name="description" content="{%if title %}{{title|capitalize}} | {% endif %}Restaurant Deals in Huntington, WV | Hungry Huntington">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.red-blue.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/master.css" type="text/css">
        <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
		<meta name="author" content="Wappr">
		<meta property="og:site_name" content="Hungry Huntington" />
		<meta property="og:description" content="Food &amp; Bar Deals in Huntington, WV" />
		<meta property="og:url" content="{{ deals.getOgUrl() }}" />
		<meta property="og:title" content="{%if title %}{{title|capitalize}} | {% endif %}Hungry Huntington, WV" />
		<meta property="og:image" content="https://tlcdn.net/l/hh-og.png" />
	</head>
	<body>
        <div class="bodyWrap">
