<header class="">
    <div class="wrap">
        <div class="logo">
            <i class="material-icons">local_offer</i>
            <span>Hungry Huntington</span>
        </div>
        <nav>
            <ul>
                <li class="daily-li"><a href="">Daily Deals</a></li>
                <li class="weekly-li"><a href="">Weekly Deals</a></li>
                <li class="bar-li"><a href="">Bar Deals</a></li>
                <li class="random-li"><a href="">Random</a></li>
            </ul>
        </nav>
    </div>
</header>
