            <aside>
                <div class="logo">
                    <a href=""><img alt="" src="/assets/images/hungry-hungtington-logo.svg"></a>
                </div>
                <nav>
                    <ul>
                        <li class="daily-li"><a href="">Today's Deals</a></li>
                        <li class="li-open">Weekly Deals
                            <ul>
                                <li class="weekly-li"><a href="">Monday</a></li>
                                <li class="weekly-li"><a href="">Tuesday</a></li>
                                <li class="weekly-li"><a href="">Wednesday</a></li>
                                <li class="weekly-li"><a href="">Thursday</a></li>
                                <li class="weekly-li"><a href="">Friday</a></li>
                                <li class="weekly-li"><a href="">Saturday</a></li>
                                <li class="weekly-li"><a href="">Sunday</a></li>
                            </ul>
                        </li>
                        <li class="bar-li"><a href="">Bar Deals</a></li>
                        <li class="restaurants-li"><a href="/restaurants/">Restaurants</a></li>
                        <li class="li-open">Random
                            <ul>
                                <li class="random-li"><a href="">Food Deals</a></li>
                                <li class="random-li"><a href="">Bar Deals</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="pageCover">
            </div>
            <header>
                <div class="sideNav">
                    <i class="material-icons" title="Show navigation">menu</i>
                </div>
                <div class="logo">
                    <a href=""><img alt="hungry huntington" src="/assets/images/hungry-hungtington-logo.svg"></a>
                </div>
                <nav>
                    <ul>
                        <li class="daily-li"><a href="">Today's Deals</a></li>
                        <li class="weekly-li"><a href="">Weekly Deals</a></li>
                        <li class="bar-li"><a href="">Bar Deals</a></li>
                        <li class="restaurants-li"><a href="/restaurants/">Restaurants</a></li>
                        <li class="random-li"><a href="">Random</a></li>
                    </ul>
                </nav>
            </header>
