            <aside>
                <div class="logo">
                    <a href="/"><img alt="" src="/assets/images/hungry-hungtington-logo.svg"></a>
                </div>
                <nav>
                    <ul>
                        <li class="daily-li"><a href="/">Today's Deals</a></li>
                        <li class="li-open">Weekly Deals
                            <ul>
                                <li class="weekly-li"><a href="/weekly/monday/">Monday</a></li>
                                <li class="weekly-li"><a href="/weekly/tuesday/">Tuesday</a></li>
                                <li class="weekly-li"><a href="/weekly/wednesday/">Wednesday</a></li>
                                <li class="weekly-li"><a href="/weekly/thursday/">Thursday</a></li>
                                <li class="weekly-li"><a href="/weekly/friday/">Friday</a></li>
                                <li class="weekly-li"><a href="/weekly/saturday/">Saturday</a></li>
                                <li class="weekly-li"><a href="/weekly/sunday/">Sunday</a></li>
                            </ul>
                        </li>
                        <li class="bar-li"><a href="/bar/">Bar Deals</a></li>
                        <li class="restaurants-li"><a href="/restaurants/">Restaurants</a></li>
                        <li class="li-open">Random
                            <ul>
                                <li class="random-li"><a href="/random/food-deals/">Food Deals</a></li>
                                <li class="random-li"><a href="/random/drink-deals/">Bar Deals</a></li>
                            </ul>
                        </li>
                        <li class="submit-li"><a href="/submit/">Submit Deal</a></li>
                    </ul>
                </nav>
            </aside>
            <div class="pageCover">
            </div>
            <header>
                <div class="sideNav">
                    <i class="material-icons" title="Show navigation">menu</i>
                </div>
                <div class="wrap">
                    <div class="logo">
                        <a href="/"><img alt="hungry huntington" src="/assets/images/hungry-hungtington-logo.svg"></a>
                    </div>
                    <nav>
                        <ul>
                            <li class="daily-li"><a href="/">Today's Deals</a></li>
                            <li class="weekly-li"><a href="/weekly/">Weekly Deals</a></li>
                            <li class="bar-li"><a href="/bar/">Bar Deals</a></li>
                            <li class="restaurants-li"><a href="/restaurants/">Restaurants</a></li>
                            <li class="random-li"><a href="/random/">Random</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
