<div class="social">
	<div class="circle"><a href="https://www.facebook.com/Hungry-Huntington-1588855184738634" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
	<div class="circle"><a href="https://twitter.com/hungry_htown" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
</div>